@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

:root {
	--accentcolor:			245,186,218;		/*	blurple		-	default:	88,101,242		*/
	--accentcolor2:			252,199,231;		/*	boostpink	-	default:	255,115,250		*/
	--linkcolor:			245,186,218;		/*	link		-	default:	0,176,244		*/
	--mentioncolor: 		245,186,218;		/*	Highlight Color	- 	default:	250,166,26		*/
	--background-color; 		245,186,218;
	
}
